@import "tailwindcss";

@theme {
  --color-background: #F4DEB2;
  --color-background-secondary: #8B4513;
  --color-background-tertiary: #F8F8DC;
  --color-background-little-2: #D9A51F;
  --color-foreground: #171717;
  /*--font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);*/
}
